body {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: antiquewhite;
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.common {
    border: 2px solid antiquewhite;
    position: absolute; 
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    border-right: solid 1px #555;
}

.mainbody {
    top: 114px;
    left: 144px;
    right: 114px;
    bottom: 39px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 9px;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.headerphoto {
    float: right;
}

.bold {
    font-weight: bold;
}